*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  background: #fff;
}
body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../img/bg.jpg') no-repeat center/cover;

}
.header{
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,0.4);
  border-bottom: 1px solid #65844a;
  >.touxiang{
    width: 70px;
    height: 70px;
    //background: red;
    float: left;
    border-radius: 50%;
    margin: 15px 30px;
    >img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  >h1{
    display: block;
    //float: left;
    text-align: center;
    margin: 0 auto;
    color: #445656;
    line-height: 100px;

  }
  >button{
    float: left;
    padding: 5px  10px;
    margin-right:10px;
    margin-top: 30px;
    background: #316794;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    border: none;
    text-align: center;
    line-height: 30px;
  }
}
.bottom{
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}
.leftnav{
  width: 200px;
  height: 100%;
  padding-top: 20px;
  background: rgba(255,255,255,0.4);
  border-right: 1px solid #65844a;
  >h2{
    width: 100%;
    height: 40px;
    //margin-bottom: 10px;
    background: #316794;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }
  >ul{
    width: 100%;
    height: auto;
    display: none;
    >li{
      width: 100%;
      height: 20px;
      border-bottom: 1px solid #fff;
      color: #222222;
      ext-align: center;
      padding: 10px 0px;
      >a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
      }
    }
  }
}
.right{
  flex-grow: 1;
  height: 100%;
  background: rgba(255,255,255,0.9);
  padding: 20px;
  box-sizing: border-box;
}

